@charset "UTF-8";
@font-face {
	font-family: 'thaisans';
	src: url('../fonts/thaisansneue-light-webfont.eot');
	src: url('../fonts/thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/thaisansneue-light-webfont.woff') format('woff'),
	url('../fonts/thaisansneue-light-webfont.ttf') format('truetype'),
	url('../fonts/thaisansneue-light-webfont.svg#thaisans_neue_lightregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'thaisans';
	src: url('../fonts/thaisansneue-bold-webfont.eot');
	src: url('../fonts/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/thaisansneue-bold-webfont.woff') format('woff'),
	url('../fonts/thaisansneue-bold-webfont.ttf') format('truetype'),
	url('../fonts/thaisansneue-bold-webfont.svg#thaisans_neuebold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'linottesemibold';
	src: url('../fonts/Linotte-SemiBold-webfont.eot');
	src: url('../fonts/Linotte-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Linotte-SemiBold-webfont.woff2') format('woff2'),
		 url('../fonts/Linotte-SemiBold-webfont.woff') format('woff'),
		 url('../fonts/Linotte-SemiBold-webfont.ttf') format('truetype'),
		 url('../fonts/Linotte-SemiBold-webfont.svg#linottesemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}