input[type='button'], 
input[type='submit'], 
input[type='reset'], 
input[type='text'], 
input[type='password'], 
input[type='email'], 
textarea,
button,
select
{
	cursor: pointer;

	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	
	resize:none;

	@include box-sizing();
}

input[type='text']:focus, 
input[type='password']:focus, 
textarea:focus, 
input[type='button']:focus, 
input[type='submit']:focus, 
input[type='reset']:focus,
button[type='button']:focus,
button[type='submit']:focus,
select:focus
{
	outline: 0;
}

input[type='text'],
input[type='password'],
textarea {
	cursor: text;
}

input[type='text'], 
input[type='password'], 
input[type='email'], 
textarea
{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	border: 1px solid #eee;
	
	@include animate();
	@include box-sizing();
	@include border-radius(5px);
}

textarea
{
	height: 100px;
}

button,
button[type='button'],
button[type='submit'],
{
	color: $btn-text-color;
	min-width: 150px;
	height: 45px;
	line-height: 35px;
	padding: 0 10px;
	display: inline-block;
	background: rgba(255, 255, 255, 0);
	border: 2px solid $btn-border-color;
	font-size: 18px !important;
	font-family: $font-highlight !important;
	text-transform: uppercase;
	
	@include animate();
	@include box-sizing();
	@include border-radius(5px);
}

button:hover, button[type='submit']:hover
{
	color: $black;
	background: rgba(255, 255, 255, 0.8);
	border-color: $btn-border-hover-color;
	@include box-shadow(rgba(0, 0, 0, 0.3), 0px, 0px, 10px);
}

select
{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	border: 1px solid #eee;

	@include animate();
	@include box-sizing();
	@include border-radius(5px);
}

select:focus
{
	border-color: $btn-border-color;
	@include box-shadow($btn-border-color);
}

.select-arrow
{
	right: 0px;
	bottom: 0px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	position: absolute;

	@include user-select();
}