$text-black: $black;
$text-white: $white;

$header-color: $white;

$btn-text-color: $white;
$btn-border-color: $white;
$btn-border-hover-color: $white;

$font: thaisans, sans-serif;
$font-highlight : linottesemibold, sans-serif;