<section id="contact">
	<div class="wrap">
		<h3>At Conicle all we want to do is to empower your team.</h3>
		<div class="box-wrap">
			<div class="box">
				<h4>Request for Demo and Quotation</h4>
				<p>Conicle is a leading producer of meeting room digital signage systems. Our products can be used to quickly and effectively book meeting rooms via the email calendar or the convenient touch-enabled displays outside each room.</p>
				<h5>You can contact us via</h5>
				<span>Nakorn Phuekphiphatmet</span>
				<span class="red">Email : nakorn@conicle.com</span>
				<span class="red">Mobile : +66877975636</span>
				<span class="space">Conicle Co., Ltd.</span>
				<span class="red">33 Pradipat 17, Samsennai, Phayathai, Bangkok, 10400 Thailand</span>
			</div>
			<div class="box">
				<input type="text" placeholder="Your name">
				<input type="text" placeholder="Company name">
				<input type="text" placeholder="Email">
				<textarea placeholder="Message"></textarea>
				<button class="red">Submit</button>
			</div>
		</div>
	</div>
</section>