<section id="box2">
	<div class="wrap">
		<h3>Mobile First Platforms for Team.</h3>
		<p>Empowering your team & organization to do more and achieve more by learning and connecting faster, easier and smarter anywhere anytime.</p>
		<ul>
			<li>
				<h6>Mobile Learning. Simple, Fast, Easy.</h6>
				<p>Learning can use cloud-based online training library anywhere, anytime from mobile-friendly.</p>
			</li>
			<li>
				<h6>Blended Media Anywhere Anytime</h6>
				<p>Learning can use cloud-based online training library anywhere, anytime from mobile-friendly.</p>
			</li>
			<li>
				<h6>Personalized Learning Path</h6>
				<p>Learning can use cloud-based online training library anywhere, anytime from mobile-friendly.</p>
			</li>
			<li>
				<h6>Result Tracking and Data Analytics</h6>
				<p>Learning can use cloud-based online training library anywhere, anytime from mobile-friendly.</p>
			</li>
		</ul>
		<div class="bg">
			<img src="public/images/overview.png">
		</div>
	</div>
</section>
<section id="box3">
	<div class="wrap">
		<h3>Gain a competitive edge</h3>
		<p>Based on CEB, INc. 2015 study of 2,000 customers</p>
		<div class="box-wrap">
			<div class="box">
				<h6>Real-world Implementation</h6>
				<span>89%</span>
				<p>of members said Pluralsight has helped them learn a skill needed for their company or job.</p>
			</div>
			<div class="box">
				<h6>More time and productivity</h6>
				<span>84</span>
				<p>hours per year saved from watching Pluralsight just 1 hour per week due to increased productivity.</p>
			</div>
			<div class="box">
				<h6>Stay current</h6>
				<span>93%</span>
				<p>of managers say Pluralsight is an important tool for their teams to keep up with the fast pace of change in technology.</p>
			</div>
		</div>
	</div>
</section>
<section id="box4">
	<div class="wrap">
		<h3>Mobile First Platforms for Team.</h3>
		<div class="image">
			<img src="public/images/circle.png">
		</div>
		<h5>Team Development . Knowledge Management . Internal Communication</h5>
		<div class="box-wrap">
			<div class="box">
				<span>Ondemand Learning</span>
			</div>
			<div class="box">
				<span>Ondemand Learning</span>
			</div>
			<div class="box">
				<span>Ondemand Learning</span>
			</div>
			<div class="box">
				<span>Ondemand Learning</span>
			</div>
		</div>
	</div>
</section>